<div>
  <div>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Yelp MVP</span>

      <%= link_to 'Create a restaurant', new_restaurant_path %>
    </nav>
  </div>

  <div class = 'container' stlye = 'padding-bottom: 60px;'>
    <% @restaurants.each do |resto|  %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= resto.name %>
          </h5>
          <p class="card-text">
            <%= resto.address %>
            <%= resto.phone_number %>
            <%= resto.category %>
          </p>
          <div class = "card-link">
            <%= link_to "See More", restaurant_path %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
