<div class = 'container'>
  <div class = 'card'>
    <div class = 'card-body'>
      <%= @restaurant.name %>
      <%= @restaurant.address %>
      <%= @restaurant.phone_number %>
      <%= @restaurant.category %>
    </div>
    <div class = 'card-body'>
      <p><strong>Reviews</strong></p>
      <ul class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <%= review.content %>
            <%= review.rating %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class = "container">
      <div class = "card-link">
        <%= link_to "leave a review", review_path, class: 'btn btn-primary' %>
        <%= link_to "Back", restaurants_path%>
      </div>
    </div>
  </div>
</div>
