<div class = 'container'>
  <div class = 'card'>
    <%= @restaurant.name %>
    <%= @restaurant.address %>
    <%= @restaurant.phone_number %>
    <%= @restaurant.category %>
  </div>

  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        <%= review.content %>
        <%= review.rating %>
      </li>
    <% end %>
  </ul>

  <br>
</div>
